// Import your less files here:
@import 'variables';
@import 'mixins';
@import 'reset'; 
@import 'global';
@import 'navigation';
@import 'footer';
@import 'home-page';


.btn{
    .button-style(#22283a, white);
    font-size: 2rem;
    margin: 0;
    padding: 10px;
    max-width: 30%;
    text-align: center;
    border-radius: 5px;

}







